aid,package,activity,reset
a11,acr.browser.barebones,acr.browser.lightning.MainActivity,true
a12,com.android.browser,com.android.browser.BrowserActivity,true
a13,com.stoutner.privacybrowser.standard,com.stoutner.privacybrowser.activities.MainWebViewActivity,true
a14,de.baumann.browser,de.baumann.browser.Activity.BrowserActivity,true
a15,org.mozilla.focus,org.mozilla.focus.activity.MainActivity,true
a16,com.android.chrome,com.google.android.apps.chrome.Main,true
a17,com.opera.mini.native,com.opera.mini.android.Browser,true
a18,org.mozilla.firefox,org.mozilla.firefox.App,true
a19,com.duckduckgo.mobile.android,com.duckduckgo.app.onboarding.ui.OnboardingActivity,true
a10,net.slions.fulguris.full.fdroid,fulguris.activity.SplashActivity,true
u11,com.brave.browser,com.google.android.apps.chrome.Main,true
u12,com.microsoft.emmx,com.microsoft.ruby.Main7,true
u13,com.heytap.browser,com.android.browser.BrowserActivity,true