aid,package,activity,reset
a21,com.rubenroy.minimaltodo,com.rubenroy.minimaltodo.MainActivity,true
a22,douzifly.list,douzifly.list.ui.home.MainActivity,true
a23,org.secuso.privacyfriendlytodolist,org.secuso.privacyfriendlytodolist.view.MainActivity,true
a24,kdk.android.simplydo,kdk.android.simplydo.SimplyDoActivity,true
a25,com.woefe.shoppinglist,com.woefe.shoppinglist.activity.MainActivity,true
a26,com.google.android.keep,,true
a27,com.socialnmobile.dictapps.notepad.color.note,com.socialnmobile.colornote.activity.Main,true
a28,com.microsoft.todos,com.microsoft.todos.ui.LaunchActivity,true
a29,com.superproductivity.superproductivity,com.superproductivity.superproductivity.FullscreenActivity,true
a20,com.nononsenseapps.notepad,com.nononsenseapps.notepad.activities.main.ActivityMain_,true
u21,todolist.scheduleplanner.dailyplanner.todo.reminders,app.todolist.activity.SplashActivity,true
u22,com.anydo,com.anydo.activity.SplashActivity,true