aid,package,activity,reset
a41,com.fsck.k9,com.fsck.k9.activity.Accounts,false
a42,com.appple.app.email,com.fsck.k9.activity.Accounts,false
a43,ru.mail.mailapp,ru.mail.ui.portal.MailPortalActivity,false
a44,com.my.mail,ru.mail.mailapp.SplashScreenActivity,false
a45,park.outlook.sign.in.client,ru.mail.mailapp.SplashScreenActivity,false
a46,com.google.android.gm,com.google.android.gm.ConversationListActivityGmail,false
a47,com.yahoo.mobile.client.android.mail,com.yahoo.mobile.client.android.mail.activity.MainActivity,false
a48,com.microsoft.office.outlook,com.acompli.acompli.CentralActivity,false
a49,me.bluemail.mail,com.trtf.blue.activity.MessageList,false
a40,de.monocles.mail,com.fsck.k9.activity.MessageList,false