aid,package,activity
a51,anti.tip,anti.tip.Tip
a52,com.appsbyvir.tipcalculator,com.appsbyvir.tipcalculator.MainActivity
a53,com.tleapps.simpletipcalculator,com.tleapps.simpletipcalculator.MainActivity
a54,com.zaidisoft.teninone,com.zaidisoft.teninone.Calculator
a55,com.jpstudiosonline.tipcalculator,com.jpstudiosonline.tipcalculator.MainActivity
a56,com.handyapps.tipnsplit,com.handyapps.tipandsplit.TipAndSplitActivity
a57,com.vednovak.flutter_tip_calculator,com.vednovak.flutter_tip_calculator.MainActivity
a58,com.pappswork.tipcalculator,com.pappswork.tipcalculator.mvvm.home.MainActivity
a59,com.chimbori.milliways,com.chimbori.milliways.MilliwaysActivity
a50,com.jarfernandez.tipcalculator,com.jarfernandez.tipcalculator.activities.MainActivity
u51,com.aBakosMaster.TipCalc2,com.unity3d.player.UnityPlayerActivity,true
u52,com.skollabs.tipcalc,com.skollabs.tipcalc.TipCalcFreeActivity,true
u53,com.jedemm.tipcalculator,com.jedemm.tipcalculator.activities.MainActivity,true